<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/styles/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/styles/css/sb-admin-2.min.css}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">
                <span th:text="${user.role}">
                </span>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/fournisseur/appels-offres}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Appels d'offres</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/responsable/constats}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Constats</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
            <a class="nav-link" th:href="@{/responsable/users}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Utilisateurs</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="topBare :: body"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <h1>Détails de l'appel d'offre</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Soumission</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="date-deb">Date Début</label>
                            <input class="form-control" disabled id="date-deb"
                                   name="date_debut"
                                   th:value="${#dates.format(appeloffre.dateDebut, 'yyyy-MM-dd')}"
                                   type="date">
                        </div>

                        <div class="form-group">
                            <label for="date-fin">Date Fin</label>
                            <input class="form-control" disabled id="date-fin"
                                   name="date_fin"
                                   th:value="${#dates.format(appeloffre.dateFin, 'yyyy-MM-dd')}"
                                   type="date">
                        </div>

                        <!--Imprimante Appel Offre-->

                        <h3>Imprimantes </h3>
                        <div th:if="${listeImprimantes.isEmpty()}">
                            <p class="alert alert-danger text-center mt-4">Aucune imprimante disponible pour une
                                soumission !</p>
                        </div>
                        <div class="d-flex w-100 mb-4" style="width: 100%;"
                             th:each="imprimante,iterStat : ${listeImprimantes}">
                            <div class="card mb-3 border-10" style="max-width: 100%; background-color: #fff3cd; width:
                    50%;margin-right: 20px; display: flex; align-content: center">
                                <div class="card-body">
                                    <p class="card-text">Résolution: <span
                                            th:text="${imprimante.getResolution()}"></span></p>
                                    <p class="card-text">Vitesse d'impression: <span
                                            th:text="${imprimante.getVitesseImpression()}"></span></p>
                                </div>
                            </div>
                            <form id="printerForm-${iterStat.index}" method="post" style="width: 50%;">
                                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                                <input th:name="imprimante-id" th:value="${imprimante.getId()}" type="hidden">
                                <div class="form-group">
                                    <label th:for="'date-livraison' + ${iterStat.index}">Date livraison</label>
                                    <input class="form-control" name="date_livraison"
                                           th:id="'date-livraison' + ${iterStat.index}" type="date">
                                </div>
                                <div class="form-group">
                                    <label th:for="'duree-garantie' + ${iterStat.index}">Date garantie</label>
                                    <input class="form-control" name="date_garantie"
                                           th:id="'duree-garantie' + ${iterStat.index}" type="date">
                                </div>
                                <div class="form-group">
                                    <label th:for="'marque' + ${iterStat.index}">Marque</label>
                                    <input class="form-control" name="marque" th:id="'marque' + ${iterStat.index}"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label th:for="'prix' + ${iterStat.index}">Prix</label>
                                    <input class="form-control" name="prix" th:id="'prix' + ${iterStat.index}"
                                           type="number">
                                </div>
                                <div class="text-center">
                                    <input class="btn btn-primary" type="submit" value="Soumettre">
                                </div>
                            </form>
                        </div>

                        <!--                        Ordinateurs Appel Offre -->


                        <h3>Ordinateurs</h3>
                        <div th:if="${listeOrdinateurs.isEmpty()}">
                            <p class="alert alert-danger text-center mt-4">Aucun ordinateur disponible pour une
                                soumission !</p>
                        </div>
                        <div class="d-flex w-100 mb-4" style="width: 100%;"
                             th:each="ordinateur,iterStat : ${listeOrdinateurs}">
                            <div class="card mb-3 border-10" style="max-width: 100%; background-color: #fff3cd; width:
                    50%;margin-right: 20px; display: flex; align-content: center">
                                <div class="card-body">
                                    <p class="card-text">CPU: <span th:text="${ordinateur.getCpu()}"></span></p>
                                    <p class="card-text">Disk: <span th:text="${ordinateur.getDisk()}"></span></p>
                                    <p class="card-text">RAM: <span th:text="${ordinateur.getRam()}"></span></p>
                                    <p class="card-text">Ecran: <span th:text="${ordinateur.getEcran()}"></span></p>
                                </div>
                            </div>
                            <form class="computer-form" id="computerForm-${iterStat.index}" method="post"
                                  style="width: 50%;">
                                <!-- Assuming you're using Thymeleaf with Spring Security -->
                                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                                <input name="ordinateur-id" th:value="${ordinateur.getId()}" type="hidden">
                                <div class="form-group">
                                    <label for="'date-livraison' + ${iterStat.index}">Date livraison</label>
                                    <input class="form-control" id="'date-livraison' + ${iterStat.index}"
                                           name="date_livraison"
                                           type="date">
                                </div>
                                <div class="form-group">
                                    <label for="'duree-garantie' + ${iterStat.index}">Date garantie</label>
                                    <input class="form-control" id="'duree-garantie' + ${iterStat.index}"
                                           name="date_garantie"
                                           type="date">
                                </div>
                                <div class="form-group">
                                    <label for="'marque' + ${iterStat.index}">Marque</label>
                                    <input class="form-control" id="'marque' + ${iterStat.index}" name="marque"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label for="'prix' + ${iterStat.index}">Prix</label>
                                    <input class="form-control" id="'prix' + ${iterStat.index}" name="prix"
                                           type="number">
                                </div>
                                <div class="text-center">
                                    <input class="btn btn-primary" type="submit" value="Soumettre">
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; GL Project 2024</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script th:src="@{/styles/vendor/jquery/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/styles/vendor/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/styles/vendor/jquery-easing/jquery.easing.min.js}" type="text/javascript"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/styles/js/sb-admin-2.min.js}" type="text/javascript"></script>

<!-- Page level plugins -->
<script th:src="@{/styles/vendor/datatables/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/styles/vendor/datatables/dataTables.bootstrap4.min.js}" type="text/javascript"></script>

<!-- Page level custom scripts -->
<script th:src="@{/styles/js/demo/datatables-demo.js}" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        var csrfToken = $('input[name="_csrf"]').val();
        var csrfHeader = "X-CSRF-TOKEN";
        $('form[id^="computerForm-"]').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: '/fournisseur/soumission/add',
                type: 'POST',
                data: {
                    "id": form.find('input[name="ordinateur-id"]').val(),
                    "date_livraison": form.find('input[name="date_livraison"]').val(),
                    "date_garantie": form.find('input[name="date_garantie"]').val(),
                    "marque": form.find('input[name="marque"]').val(),
                    "prix": form.find('input[name="prix"]').val()
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (response) {
                    form.replaceWith('<p class="text-success text-center">' + response + '</p>');
                },
                error: function (xhr, status, error) {
                    alert('Error submitting data');
                    console.error("Submission failed: " + error);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        var csrfToken = $('input[name="_csrf"]').val();
        var csrfHeader = "X-CSRF-TOKEN";
        $('form[id^="printerForm-"]').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            // console.log({
            //     "id": form.find('input[name="imprimante-id"]').val(),
            //     "date_livraison": form.find('input[name="date_livraison"]').val(),
            //     "date_garantie": form.find('input[name="date_garantie"]').val(),
            //     "marque": form.find('input[name="marque"]').val(),
            //     "prix": form.find('input[name="prix"]').val()
            // });
            $.ajax({
                url: '/fournisseur/soumission/add',
                type: 'POST',
                data: {
                    "id": form.find('input[name="imprimante-id"]').val(),
                    "date_livraison": form.find('input[name="date_livraison"]').val(),
                    "date_garantie": form.find('input[name="date_garantie"]').val(),
                    "marque": form.find('input[name="marque"]').val(),
                    "prix": form.find('input[name="prix"]').val()
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function (response) {
                    form.replaceWith('<p class="text-success text-center">' + response + '</p>');
                },
                error: function (xhr, status, error) {
                    alert('Error submitting data');
                    console.error("Submission failed: " + error);
                }
            });
        });
    });
</script>
</body>

</html>