<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ajouter nouvelle ressource</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1>Ajouter Demande d'Achat</h1>
    <hr>

    <!-- Ajout d'une liste déroulante pour choisir entre PC et imprimante -->
    <div class="form-group">
        <label for="resourceType">Choisir le type de ressource:</label>
        <select class="form-control" id="resourceType" onchange="showForm()">
            <option disabled hidden selected>Choisir le type de ressource</option>
            <option value="pc">PC</option>
            <option value="imprimante">Imprimante</option>
        </select>
    </div>


    <!-- Formulaire pour les PC -->
    <form id="pcForm" method="POST" style="display: none;" th:action="@{/enseignant/saveOrdinateur}"
          th:object="${ordinateur}">
        <div class="form-group">
            <label for="pcMarque">Marque:</label>
            <input class="form-control mb-4 col-4" id="pcMarque" name="marque" placeholder="Marque" th:field="*{marque}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="pcCPU">CPU:</label>
            <input class="form-control mb-4 col-4" id="pcCPU" name="cpu" placeholder="CPU" th:field="*{cpu}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="pcRAM">RAM:</label>
            <input class="form-control mb-4 col-4" id="pcRAM" name="ram" placeholder="RAM" th:field="*{ram}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="pcDisqueDur">Disque dur:</label>
            <input class="form-control mb-4 col-4" id="pcDisqueDur" name="disk" placeholder="Disque dur"
                   th:field="*{disk}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="pcEcran">Ecran:</label>
            <input class="form-control mb-4 col-4" id="pcEcran" name="ecran" placeholder="Ecran" th:field="*{ecran}"
                   type="text">
        </div>
        <!-- Ajouter la sélection pour "Utilisé par le département" -->
        <div class="form-group" th:if="${isChef}">
            <label for="departementUsage1">Utilisé par le département:</label>
            <select class="form-control mb-4 col-4" id="departementUsage1" name="departementUsage">
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>
        </div>
        <button class="btn btn-info col-2" type="submit"> Save PC</button>
    </form>


    <!-- Formulaire pour les imprimantes -->
    <form id="imprimanteForm" method="POST" style="display: none;" th:action="@{/enseignant/saveImprimante}"
          th:object="${imprimante}">
        <div class="form-group">
            <label for="imprimanteMarque">Marque:</label>
            <input class="form-control mb-4 col-4" id="imprimanteMarque" name="marque" placeholder="Marque"
                   th:field="*{marque}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="imprimanteVitesse">Vitesse d'impression:</label>
            <input class="form-control mb-4 col-4" id="imprimanteVitesse" name="vitesseImpression"
                   placeholder="Vitesse d'impression"
                   th:field="*{vitesseImpression}" type="text">
        </div>
        <div class="form-group">
            <label for="imprimanteResolution">Résolution:</label>
            <input class="form-control mb-4 col-4" id="imprimanteResolution" name="resolution" placeholder="Résolution"
                   th:field="*{resolution}" type="text">
        </div>
        <!-- Ajouter la sélection pour "Utilisé par le département" -->
        <div class="form-group" th:if="${isChef}">
            <label for="departementUsage">Utilisé par le département:</label>
            <select class="form-control mb-4 col-4" id="departementUsage" name="departementUsage">
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>
        </div>
        <button class="btn btn-info col-2" type="submit"> Save Imprimante</button>
    </form>


    <hr>

    <a th:href="@{/}">Retour</a>
</div>

<!-- Script JavaScript pour afficher le formulaire approprié en fonction du choix de l'utilisateur -->
<script>
    function showForm() {
        var resourceType = document.getElementById("resourceType").value;
        if (resourceType === "pc") {
            document.getElementById("pcForm").style.display = "block";
            document.getElementById("imprimanteForm").style.display = "none";
        } else if (resourceType === "imprimante") {
            document.getElementById("pcForm").style.display = "none";
            document.getElementById("imprimanteForm").style.display = "block";
        }
    }
</script>

</body>

</html>
